.cart{
	height: 800px;
	width: 800px;
	border: 2px solid #FF00FF;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
}

.cart_text{
	height: 100px;
	width: 100px;
	border: 2px solid #32df31;
}