@font-face{
	font-family: "Dancing";
	src: url(font/DancingScript-Regular.otf);
}

body{
	background-image: url("images/bg.jpg");
	margin: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

header{
	color: #fff;
	font-family: Dancing;
	font-size: 50px;
}

.zg{
	font-size: 90px
}

.lor{
	font-size: 20px;
	display: flex;
	justify-content: center;
	font-family: 'times new roman';
}

main{
	margin-top: 100px;
	background-color: #fff;
	width: 80%;
}

.menu_hr li {
	display: inline;
	padding: 20px;
	font-weight: bold;
}

.menu_hr li:hover{
	background-color: #312f2f;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

.menu_hr{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

img{
	height: 400px;
	width: 700px;
}

.main_cart{
	display: flex;
}

.main_cart_text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
	font-family: Dancing;
	font-size: 50px;
}
span{
	color: #f06464;
}

p{
	text-align: center;
}

button{
	width: 150px;
	height: 35px;

	background-color: #312f2f ;
	color: #fff;

	cursor: pointer;
}

button:hover{
	background-color: #656161;
}

